doctype html
html
  head
    title GitHub Status
    link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .ui.borderless.main.menu
      .ui.container
        a.header.item(href='/')
        img.logo(src='https://image.flaticon.com/icons/png/64/25/25231.png')
        |&nbsp;&nbsp;&nbsp;GitHub Status
    block content